* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#header-container {
    color: whitesmoke;
    text-align: center;
}
#search-container {
    margin-left: 3px;
    width: 50%;
}

#forecast-container {
    width: 75%;
}



#current-img {
    size: 30px;
}
.badge {
    font-size: 15px;
}
